.race-placeholder{
  position: relative;
  width: 700px;
  height: 150px;
  margin: 5px 0px;
}

.race-container{
  position: absolute;
  width: 100%;
  height: 150px;
  
}

.racetitle{
  position: relative;
  float: left;
  width: 200px;
  padding: 0px 10px;
}

.racetitle h3{
  margin: 0px;
}

