.friend-name{
  font-size:14px;
  font-weight: bold;
  font-family: sans-serif;
  color:#0d3577;
  margin-top: 3px;
  margin-bottom:  3px;
}

.bib-span{
  font-size: 12px;
  color:#301385;
  font-weight: bold;
  font-family: sans-serif;
}

.friendResult{
  padding: 10px;
  margin-top:3px;
  height: 152px;
  overflow: auto;
  background-color: #FFF;
  margin-left: 0px;
  overflow: hidden;
  color: #1e4d66;
  border-bottom-style: dotted;
  border-bottom-width: thin;

}

.friendResult:hover{
  background-color: #EEEEEE;
}

.result-title{
  padding-top: 10px;
  z-index:10; 
  width:100%; 
  color: #FFF;
  background-color: #FF6B24;
}

a {
  color: #FFF;
  font-weight: normal;
}

a:hover{
  color: #FFF;
}


.result-section{
  width: 100%;
  color: #FFF;
  font-family: Trade_Gothic_Light;
  font-weight: normal;
  font-style: normal;
}


.lightorange-container .result-section p{
  color: #0a4667;
}

.result-label{
  font-family: Trade_Gothic_Light;
  line-height: 50px;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  background-color: #ff6b24;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px 0 10px 0;
}

.result-value{
  font-family: LeagueGothic-Regular;
  font-size: 36px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #1e4d66;
  background-color: #FFF;
  margin-top: 5px;
  margin-bottom: 5px;
  /*border-radius: 10px 0 10px 0;*/
}

.orange-container  .result-label {
  background-color: #FFF;
  color: #2167a5;
}

.result-value{
  background-color: #ffa77d;
  color: #2167a5;
}

.white-container  .result-label {
  background-color: #138dce;
  color: #FFF;

}

#friendList{
  padding-left: 0px;
}

/*Changes*/

#race-and-wavename {
  font-size: 1.3em;
}

#gunTimecanvas, #chipTimecanvas {
  width: 100%;
  margin: 0 auto;
}

#medal-placeholder {
  height: 40px;
}

.name-medal {
  text-align: center
}

#runnername {
  
  font-size: 1.5em;
}

.stayleft {
  left: 0;
  text-align: left;
}

.racetitle {
  margin: 0 auto;
  text-align: center;
}

.iconsize {
  margin: 0 auto;
  /*text-align: center*/
}

.offset-top {
  margin-top: 30px
}

.offset2 {
  margin-top: 20px;  
  padding-left: 10px;
  padding-right: 10px;
}

#runnermain {
  display:table;
  table-layout: fixed;

  border-collapse: border;
}

#runnernamediv {
  display: table-cell;

  width: 1000px;
}

#medaldiv {
  display: table-cell;
  width: 50px;
  padding-left: 100px;
}

.fb-image {
  width: 50px;
}

#canvas {
  width:100%;
}

p {
  text-align: justify;
}

@media (min-width: 468px) {
  #runnername {
    font-size: 2.5em;
  }  
  .stayleft {
    left: 0;
    text-align: left;
  }
  .racetitle {
    margin-left: 30px;
  }
  .name-medal {
    text-align: left
  }
}

@media (min-width: 768px){

  #race-and-wavename {
    font-size: 1.3em;
  }  
  #runnername {
    font-size: 2.7em;
  }
  #medal-placeholder {
    height: 50px;
  }
  .offset-top {
    margin-top: 20px
  }
  .racetitle {
    text-align: left;
    margin-top: 50px;
  }
  .iconsize {
    text-align: left
  }
}

@media (min-width: 992px){
  #guntime-chart {
    /*margin-top: 20px;*/
  }
  .runtime {
    margin-top: 50px;
  }
  .icon-size {
    font-size: 120px;
    margin: 0 auto;
    text-align: left;
  }
}
/*Changes*/