<!DOCTYPE html>
<html lang="en" ng-app="myruntime-admin" ng-controller="appctrl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/images/favicon.png">

  <title>Administration panel for MyRunTime</title>

  <!--Application CSS Files-->
  {% for cssFile in appVendorCSSFiles %}<link rel="stylesheet" href="{{cssFile}}">
  {% endfor %}
  <link href="/css/dashboard.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle noprint" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MyRunTime</a>

      </div>
      <p class="navbar-text">Signed in as [[User.Model.firstName]]</p>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="#/admin">Dashboard</a>
          </li>
          <li><a href="#/admin/postprocess">Post Process</a>
          </li>          
          <li><a href="#/admin/users">Users</a>
          </li>
          <li><a href="#/admin/races">Races</a>
          </li>
        </ul>
      </div>    
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="container-fluid" ng-view>

        </div>
      </div>
    </div>
  </div>  

  {% for jsFile in adminVendorJSFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
  {% endfor %}          

  {% for jsFile in adminjsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
  {% endfor %}   
</body>
</html>
