{% extends 'layout.html' %}

{% block content %}
  <div class="orange-container">
    <div class="container">
      <div class="row">
        <div class="span5">
          <h1> Server Error </h1>
          <h3> {{error}} </h3>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}

