{% extends 'layout.html' %}

{% block content %}
  <div class="orange-container">
    <div class="container">
      <div class="row">
        <div class="span5">
          <h1> Sorry, the page you requested could not be found. </h1>
          <h3> Maybe recheck the URL you were typing? </h3>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}
