<!DOCTYPE html>
<html lang="en" ng-app="myruntime" ng-controller="appctrl">
  <head>
    <meta property="fb:app_id", content="353126178090062">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification", content="h5n5EU6J_X6zwldVG3BCLIVhRkQaNqH0bj9QrMNnsZU">
    <meta name='description', content='MyRunTime Social Race Results Portal'>
    <title> MyRunTime | Social Powered Race Timing </title>

    <link rel="shortcut icon" href="/images/favicon.png">
    
    <!-- fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Magra:400,700" type="text/css">    
    
    <!--Application CSS Files-->
    {% for cssFile in appVendorCSSFiles %}<link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

    <!-- css -->
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">

  </head>

  <body>
    <nav role="navigation" class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle noprint"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/#/" class="navbar-brand"><img src="/images/MyRunTime_headerlogo.png" class="img-responsive"></a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse noprint">
        <ul class="nav navbar-nav myruntime-nav">
          <li><a href="#races">Races</a></li>
          <li ng-show="hasUser"><a href="#me">My Profile</a></li>
          <li><a href="#connect">Connect</a></li>
          <li><a href="#faqs">F.A.Q.s</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown" ng-show="hasUser">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">[[User.Model.firstName]]'s Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#me">My Account</a></li>
              <li><a href="" ng-click="logoutFacebook()">Logout</a></li>
            </ul>
          </li>          
          <li ng-hide="hasUser"><a href="#login">Login</a></li>
        </ul>
      </div>    
    </nav>
    <section>
      {% block content %} {% endblock %}
    </section>

    {% for jsFile in appVendorJSFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}
      
    {% for jsFile in appjsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}

  </body>
</html>