<div class="orange-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Account activation success! <i class="smile icon"> </i></h1>        
      </div>
    </div>
  </div>
</div>