<div class="orange-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>This will contain user details soon!! <i class="smile icon"> </i></h1>
        <!--<button class='btn btn-primary' ng-click='activateAccount()'>Activate</button>-->
      </div>
    </div>
  </div>
</div>