<div class="orange-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Account activation invalid! Token expired or user is already activated! <i class="frown icon"> </i></h1>        
      </div>
    </div>
  </div>
</div>