<div class="orange-container">
  <div class="container">
    <div class="row"> 
      <!--
      <div class='col-md-6'><br>
        <div class="row">
          <div class='col-md-12 center text-center'>
            <h2>Login using MyRunTime Account</h2>
            <hr class='col-md-10'>
            <h3>              
              <form role="form" data-ng-submit='signin()' method="post" id="login" class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail" class="col-md-2 control-label">Email</label>
                  <div class="col-md-8">
                    <input type="email" name="email" id="inputEmail" data-ng-model='credentials.email' class="form-control">
                  </div>
                </div>
                <div class="form-group"> 
                  <label for="inputPassword" class="col-md-2 control-label">Password</label>
                  <div class="col-md-8">
                    <input type="password" name="password" id="inputPassword" data-ng-model='credentials.password' class="col-md-8 form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-8 col-md-offset-2">
                    <button type="submit" ng-disabled='loading' class="form-control btn btn-primary" style='margin-bottom:10px;'>Login</button>
                    <button type="button" ng-disabled='loading' class='form-control btn btn-default' ng-click='register()'>Sign up</button>
                  </div>
                </div>

                <div class="col-md-8 col-md-offset-2 claerfix">
                  <div data-ng-show="loading" class="alert alert-info" style='margin-top:15px; margin-bottom:15px;'>
                    <i class='fa fa-spinner fa-spin'></i> &nbsp; <strong> Authenticating... </strong>
                  </div>
                </div>

                <div class="col-md-8 col-md-offset-2 clearfix">
                  <div data-ng-show='error' class='text-center alert alert-danger' style='margin-top:15px;'>              
                    <strong data-ng-bind='error'></strong>
                  </div>
                </div>

              </form>
            </h3>
          </div>            
        </div>          
      </div>
      -->
      <div class="col-md-12"><br>
        <!--
        <div class='row'>
          <div class='col-md-12 center text-center'>
            <h2 style=>Login using Facebook Account</h2>
            <hr class='col-md-10'>
            <center><a href="/auth/facebook" class="fb_button_medium button"><img src="/images/facebookLogin.png"></a></center><br>
            <div class='center text-center'>
              <h3 style='margin-top:5px;'>Click the button to login/register to MyRunTime using Facebook</h3>
            </div>
          </div>
        </div>
        -->        
        <h2>Click the button to login to MyRunTime using Facebook</h2><br>
        <center><a href="/auth/facebook" class="fb_button_medium button"><img src="/images/facebookLogin.png"></a></center><br>
        <h2>We will not use  your facebook account for evil. We will however use your facebook information to give  you a more accurate result</h2><br>        
      </div>
    </div><br>
  </div>
</div>
<div id="middlewrap">
  <div class="white-container">
    <div class="container">
      <div class="row">
        <center>
          <h1>Why create a MyRunTime account?</h1>
        </center>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2>Accurate Information</h2>
          <center><img src="/images/250px-accurate-info.png"></center>
          <p style="text-align: justify;">Ever had a result where your name was misspelled? Or where you were assigned the wrong gender?</p>
          <p style="text-align: justify;">If you connect MyRunTime with your facebook account, MyRunTime would use the info you used in your facebook account for your race results.</p>
        </div>
        <div class="col-md-3">
          <h2>Get Notified</h2>
          <center><img src="/images/250px-notification.png"></center>
          <p style="text-align: justify;">You no longer have to constantly check forums and websites after the race to see when results are available. As soon as the results for the race are made official, you will be notified through facebook of your race results.</p>
        </div>
        <div class="col-md-3">
          <h2>Compare with Friends</h2>
          <center><img src="/images/250px-compare.png"></center>
          <p style="text-align: justify;">Easily check and compare your race results with your friends who participated in the same run. The more friends you have who have connected their facebook accounts to MyRunTime, the more people you can compare results with!</p>
        </div>
        <div class="col-md-3">
          <h2>Track Results</h2>
          <center><img src="/images/250px-track-progress.png"></center>
          <p style="text-align: justify;">Once your facebook account is linked, all your succeeding runs that use MyRunTime will be associated with your facebook account. Now you can track your race performance over time.</p>
        </div>
      </div>
    </div>
  </div>
</div>