<div class="orange-container">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h1>Sorry, page not found <i class="frown icon"> </i></h1>
        <h3>Maybe recheck the url you were typing?</h3>
      </div>
    </div>
  </div>
</div>