<div class="row orange-background">   
  <div class="container">
    <div class="row">   
      <div class="container"> 
        <div class="col-md-2 col-sm-4 col-xs-6"><img id="profile-fbImage" ng-src="[[profilePic]]" class="img-responsive ui image"></div>
        <div class="col-md-2 col-sm-8 col-xs-6">
          <h3> [[user.Model.firstName | toProper]] [[user.Model.lastName | toProper]] </h3>
          <h3> [[user.Model.gender | toGenderString]] </h3>
        </div>
        <div id="desktop-dashboard-div" class="col-md-8">
          <div class=[[dashboardColumnClass]]>
            <div class="ui fluid vertical menu dashboard-menu">
              <div id="dashboard-header" class="header item">[[profileOwner]]RunDistance</div>
              <div class="item">             
                <i class="huge road icon dashboard-icon"></i>
                <h4 class="myDistance"> [[totalDistance/1000]] KMs </h4>
              </div>
            </div>
          </div>
          <div class=[[dashboardColumnClass]]>
            <div class="ui fluid vertical menu dashboard-menu">
              <div id="dashboard-header" class="header item">[[profileOwner]]RunTime Activities</div>
               <div class="item"> 
                <i class="huge dashboard icon dashboard-icon"></i>
                <h4 class="myActivities">[[results.length]] MyRuns </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4" ng-hide="hidePublic">
            <div id="myCalorieMenu" class="ui fluid vertical menu dashboard-menu">
              <div id="dashboard-header" class="header item">[[profileOwner]]Calories</div>
              <div class="item">
                <i class="huge fire icon dashboard-icon"> </i>
                <h4 id="myCalories" class="myCalories"> [[caloriesBurned]] </h4>
              </div>
            </div>
            <div id="calorie-help-button" class="calorie-help-button ui icon button" ng-click="showOverlayForm()" ng-hide="hidePublic">
              <i id="help-weight-icon" class="help-weight-icon large help icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="mobile-dashboard-div" class="col-sm-12 col-xs-12">
        <div class="col-sm-4 col-xs-12">
          <div class="ui fluid vertical menu dashboard-menu">
            <div id="dashboard-header" class="header item">[[profileOwner]]RunDistance</div>
            <div class="item">
              <i class="huge road icon dashboard-icon"></i>
              <h4 class="myDistance"> [[totalDistance/1000]] KMs </h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="ui fluid vertical menu dashboard-menu">
            <div id="dashboard-header" class="header item">[[profileOwner]]RunTime Activities</div>
            <div class="item"> <i class="huge dashboard icon dashboard-icon"></i>
              <h4 class="myActivities">[[results.length]] MyRuns </h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12" ng-hide="hidePublic">
          <div id="myCalorieMenu2" class="ui fluid vertical menu dashboard-menu">
            <div id="dashboard-header" class="header item">[[profileOwner]]Calories</div>
            <div class="item"><i class="huge fire icon dashboard-icon"> </i>
              <h4 id="myCalories" class="myCalories"> [[caloriesBurned]] </h4>
            </div>
          </div>
          <div id="calorie-help-button2" class="calorie-help-button ui icon button" ng-click="showOverlayForm()" ng-hide="hidePublic"><i id="help-weight-icon" class="help-weight-icon large help icon"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3"> 
    <div class="row">    
      <div class="col-md-12">
        <div class="light-orange-background" style="margin-left:15px;" ng-hide=true>
          <h2 class="achievements-list">[[profileOwner]] Achievements </h2>
          <div class="ui horizontal divider">
            <i class="circular star icon"></i>
          </div>
          <div id="badge-container">
            <h4 style="text-align:center;"> Legen- wait for it... </h4>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">      
      <div class="col-md-12">
        <div id="friends-container" class="light-orange-background" style="margin-left:15px;">
          <h2 class="friends-list">[[profileOwner]] Friends</h2>
          <div class="ui horizontal divider">
            <i class="circular users icon"></i>
          </div>
          <div class="friends-content">
            <h4 style="margin-left:15px;"> Search <input  ng-model="searchText" type="text"></h4>
            <div ng-repeat = "friend in (filteredFriends = (userFriends | orderBy:'firstName' | filter:searchText))">
              <h4 id="friends-links">
                <a ng-href="#/profile/[[friend._id]]">[[friend.firstName | toProper]] [[friend.lastName | toProper]]</a>
              </h4>
            </div>
          </div>          
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div class="white-background">
          <br/>
          <h2 style="display:inline;margin-right:20px;">[[profileOwner]] Runs &nbsp;</h2>
          <div class="row" ng-hide="hidePublic">
            <div class="col-md-4" style='margin-bottom:5px;'>
              <a href="#/connect" style="text-decoration:none;">
                <div class="ui orange huge left labeled icon button profile-buttons">
                  <i style="color:white;" class="plus icon"></i>
                  <p>Connect Another Run</p>
                </div>
              </a>
            </div>
          </div>
          <div class="row" ng-hide="hidePublic">
            <div class="col-md-4">
              <a href="#/races" style="text-decoration:none;"> 
                <div class="ui orange huge left labeled icon button profile-buttons">
                  <i style="color:white;" class="calendar icon"></i>
                  <p>Check upcoming runs</p>
                </div>
              </a>          
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!--<div style="height: 450px; overflow-y: scroll;">-->
              <div ng-repeat="race in upcomingRaces">
                <div class="result-hover-div">
                  <a ng-href="#/race/[[race.raceDetails.Model.raceNick]]">
                    <!--<table class="myupcomingrace">-->
                    <table class="myupcomingrace" hover="hoverFunction('upcomingSocialButtons'+$index)" leave="leaveFunction('upcomingSocialButtons'+$index)">
                      <tr>
                        <td class="bib">
                          <h3>Upcoming Race</h3>
                          <span>
                            <h3>Bib Number: [[race.bibDetails.Model.bibnumber]] </h3>
                          </span></td>
                          <td class="pic">
                            <img class="racepic" ng-src="/images/[[race.raceDetails.Model.racePhoto]]">
                          </td>
                          <td class="plot">

                            <div id="upcomingSocialButtons[[$index]]" style="opacity:0;">
                              <a href="">
                                <div title="Disconnect Bib from your Account" class="ui massive red button" id="profile-upcoming-disconnect-button" ng-click="disconnectUpcoming(race)">
                                  Disconnect Bib
                                </div>
                              </a>
                            </div>
                            <h3>[[race.raceDetails.Model.raceNick]]
                              <br>
                                [[race.raceDetails.Model.raceDate | date:'MMMM dd, yyyy' ]]
                            </h3>
                          </td>
                        </tr>
                      </table>
                    </a>
                  </div>
                </div>
                <div ng-repeat="result in results">           
                  <div class="result-hover-div">                      
                    <a ng-href="#/runner/[[result.Model.raceId._id]]/[[result.Model.bibnumber]]">
                      <table class="myrace" hover="hoverFunction('socialButtons'+$index)" leave="leaveFunction('socialButtons'+$index)">
                        <tr>
                          <td class="bib">
                            <h3>Bib number: [[result.Model.bibnumber]]</h3>
                            <h3>Race Distance: [[result.Wave.waveName]]</h3>
                          </td>
                          <td class="pic">
                            <img class="racepic" ng-src="/images/[[result.Model.raceId.racePhoto]]">
                          </td>
                          <td class="plot">
                            <div id="socialButtons[[$index]]" style="opacity:0;">

                              <a href="">
                                <div title="Disconnect Bib from your Account" class="ui massive red button" id="profile-disconnect-button" ng-click="disconnectBib(result)">
                                  Disconnect Bib
                                </div>
                              </a>

                              <a href="">
                                <div title="Share you RunTime on Facebook" class="ui massive facebook icon button" id="profile-fbshare-button" ng-click="shareFB(result)">
                                  <i class="facebook icon"></i>
                                </div>
                              </a>

                              <a href="https://twitter.com/share?via=MyRunTime&url=http://myrunti.me/runners/[[result.Model.raceId._id]]/[[result.Model.bibnumber]]&text=I%20finished%20[[result.Model.raceId.raceName]]!%20Check%20out%20my%20results%20here." id="tweet-link">
                                <div title="Tweet your RunTime" class="ui massive twitter icon button tweet-button" id="profile-tweet-button">
                                  <i class="twitter icon" style="color:white;" ></i>
                                </div>
                              </a>
                            </div>

                            <p><b>Official Time:&nbsp;</b>[[result.Model.gunTime | secondsToTimeString ]]</p>
                            <p><b>Chip Time:&nbsp;</b>[[result.Model.chipTime | secondsToTimeString ]]</p>
                            <!--<p><b>Rank:&nbsp;</b><%= GunRank %> over <%=resultsInCat%> results </p>-->
                            <br/>
                            <p align="right">(Click to display detailed result) </p>
                          </td>
                        </tr>
                      </table>
                    </a>
                  </div>
                </div>
                <div id="upcomingRacesTable"></div>
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui fluid form segment" id="overlay-form" style="position:absolute; top:200px; right:100px;" ng-hide="hideInputWeight">
  <div class="one field">
    <div class="field">
      <label> Weight (lbs) </label>      
      <input ng-model="inputWeight" placeholder="Weight in lbs" type="text"></input>
      <label ng-show="invalidInput" class="label label-warning" style="margin-top:3px;margin-bottom:3px;"> Input Valid Weight! </label>
    </div>
    <div class="ui buttons">
      <div class="ui large green button" id="OKButton" ng-click="validateInput()"> OK </div>
      <div class="ui large red cancel button" id="CloseButton" ng-click="hideOverlayForm()"> Cancel </div>
    </div>
  </div>
</div>
<myfooter></myfooter>
