<div>
  <div class="orange-container">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="racename-header">
            <span>[[race.raceName]] </span>
            <span class="label label-success" ng-show="race.published">Finished</span>
            <span class="label label-primary" ng-hide="race.published">Upcoming</span>
          </h1>
          <h3 class="racedate-header">[[race.raceDate | date:'MMMM dd, yyyy']]</h3>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <img class="img racephoto img-polariod thumbnail img-responsive" ng-src="/images/[[race.racePhoto]]" onerror="this.src='/images/nophoto.png'">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div ng-show="race.published">
            <br/>
            <br/>
            <div class="form-inline">
              <div class="form-group">                
                <h2>Race Results&nbsp;</h2>
              </div>
              <div class="form-group">
                <label class="sr-only" for="bibnumber">Bib number:</label>
                <input type="text" class="form-control" id="bibnumber" ng-model="bibQuery" placeholder="Enter bib number...">
              </div>
              <button class="btn btn-primary" ng-click="searchBib(bibQuery)">Search</button>
              <div class="form-group"></div>
            </div>
            <div class="list-group">
              <div ng-show="race.raceId == 105 || race.raceId == 134 || race.raceId == 135">
                <h3> &nbsp; Enter Bib number to search for your results!</h3>
              </div>
              <div ng-hide="race.raceId == 105 || race.raceId == 134 || race.raceId == 135">                
                <a ng-href='#/race/[[race.raceId]]/[[wave.waveId]]' class="list-group-item list-group-item-primary" ng-repeat="wave in race.waves">
                  [[wave.waveName]] Results
                </a>                          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="race.raceId == 145">
  <div class="white-container">
    <div class="container">     
      <div class="row">
        <div class="col-md-12 align-justify text-center">
          <h3> Hey there! Did you know that you can avail exclusive rewards for joining STC Run 2014? </h3>
          <h3> Click this <a href="http://stcrun.myruntime.com" target="_blank" style="color:#428bca">link</a> to find out how!</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-hide="race.published">
  <div class="white-container">
    <div class="container">     
      <div class="row">
        <div class="col-md-12 align-justify">
          
          <div ng-show="resultsOverdue">
            <h3>Sorry, the race results are not yet available at the moment.</h3>
            <h3> In the meantime, have you activated your bib yet? Activate it now, so MyRunTime can notify you the moment the race results become available. <i class='smile icon'></i></h3>
            <a href="#/connect" style="text-decoration:none;">
              <div class="ui orange huge left labeled icon button"> 
                <i style="color:white;" class="plus icon"></i>
                Activate Bib
              </div>
            </a>
            <br>
          </div>

          <div ng-hide="resultsOverdue">
            <h2>[[race.raceName]] will be held on [[race.raceDate | date: 'MMMM dd, yyyy']] </h2>
            <h3> In the mean time, you may Activate your race bibs to enjoy the full MyRunTime social experience! <i class='smile icon'></i></h3>
            <a href="#/connect" style="text-decoration:none;">
              <div class="ui orange huge left labeled icon button"> 
                <i style="color:white;" class="plus icon"></i>
                Activate Bib
              </div>
            </a>
            <br>
          </div>

          <h3>Follow @myruntime and like fb.com/myruntime to get updates on race results. </h3>
        </div>
      </div>
    </div>
  </div>  
</div>

<myfooter></myfooter>
