<div class="orange-container">
  <div class="container">
    <div class="row"> 
      <div class='col-md-12 center text-center'>
        <h2>Register a MyRunTime Account</h2>
        <hr class='col-md-10'>
        
        <form class='form-horizontal' name='myForm' role='form' data-ng-submit='register()'>              

          <div class='form-group'>
            <label for='email' class='col-sm-3 control-label'>Email</label>
            <div class='col-sm-7'>
              <input type='email' class='form-control' name='email' id='email' ng-model='data.email' placeholder='Email' required>
              <div class="alert alert-danger custom-alert" ng-show="myForm.email.$error.required && myForm.email.$dirty">
                Field is required
              </div>
              <div class="alert alert-danger custom-alert" ng-show="myForm.email.$error.email && myForm.email.$dirty">
                Invalid email address format
              </div>
            </div>
          </div>

          <div class='form-group'>
            <label for='inputPassword' class='col-sm-3 control-label'>Password</label>
            <div class='col-sm-7'>
              <input type='password' class='form-control' name='inputPassword' id='inputPassword' ng-model='data.password' placeholder='Password' ng-required='updatePassword' ng-minlength="7">
              <div class="alert alert-danger custom-alert" ng-show="myForm.inputPassword.$invalid && myForm.inputPassword.$dirty">
                Password must be at least 7 characters long
              </div>                  
            </div>
          </div>

          <div class='form-group'>
            <label for='inputPassword2' class='col-sm-3 control-label'>Repeat Password</label>
            <div class='col-sm-7'>
              <input type='password' class='form-control' name='inputPassword2' id='inputPassword2' ng-model='data.repeatPassword' placeholder='Repeat Password' ng-minlength="7" pw-check="inputPassword">
              <div class="alert alert-danger custom-alert" ng-show="myForm.inputPassword2.$error.minlength && myForm.inputPassword2.$dirty">
                Password must be at least 7 characters long
              </div>
              <div class="alert alert-danger custom-alert" ng-show="myForm.inputPassword2.$error.pwmatch && myForm.inputPassword2.$dirty">
                Passwords must match
              </div>
            </div>
          </div>

          <div class='form-group'>
            <label for='firstName' class='col-sm-3 control-label'>First Name</label>
            <div class='col-sm-7'>
              <input type='text' class='form-control' name='firstName' id='firstName' ng-model='data.firstName' placeholder='First Name' required>
              <div class="alert alert-danger custom-alert" ng-show="myForm.firstName.$error.required && myForm.firstName.$dirty">
                Field is required
              </div>
            </div>
          </div>

          <div class='form-group'>
            <label for='lastName' class='col-sm-3 control-label'>Last Name</label>
            <div class='col-sm-7'>
              <input type='text' class='form-control' name='lastName' id='lastName' ng-model='data.lastName' placeholder='Last Name' required>
              <div class="alert alert-danger custom-alert" ng-show="myForm.lastName.$error.required && myForm.lastName.$dirty">
                Field is required
              </div>
            </div>
          </div>

          <div class='form-group'>
            <label for='gender' class='col-sm-3 control-label'>Gender</label>
            <div class='col-sm-7'>
              <select class='form-control' ng-init="data.gender = genders[0]" ng-model='data.gender' required ng-options="gender.name for gender in genders">                
              </select>
              <div class="alert alert-danger custom-alert" ng-show="myForm.gender.$error.required && myForm.gender.$dirty">
                Field is required
              </div>
            </div>
          </div>

          <div data-ng-show="loading" class="alert alert-info" style='margin-top:15px; margin-bottom:15px;'>
            <i class='fa fa-spinner fa-spin'></i> &nbsp; <strong> Processing registration request... </strong>
          </div>

          <div class='form-group'>
            <div class='col-sm-8 col-sm-offset-2'>
              <button type='submit' class="form-control btn btn-primary" ng-disabled="myForm.$invalid || myForm.$pristine || loading"> Register </button> 
            </div>
          </div>

        </form>
        
      </div>                    
    </div><br>
  </div>
</div>
<div id="middlewrap">
  <div class="white-container">
    <div class="container">
      <div class="row">
        <center>
          <h1>Why create a MyRunTime account?</h1>
        </center>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2>Accurate Information</h2>
          <center><img src="/images/250px-accurate-info.png"></center>
          <p style="text-align: justify;">Ever had a result where your name was misspelled? Or where you were assigned the wrong gender?</p>
          <p style="text-align: justify;">If you connect MyRunTime with your facebook account, MyRunTime would use the info you used in your facebook account for your race results.</p>
        </div>
        <div class="col-md-3">
          <h2>Get Notified</h2>
          <center><img src="/images/250px-notification.png"></center>
          <p style="text-align: justify;">You no longer have to constantly check forums and websites after the race to see when results are available. As soon as the results for the race are made official, you will be notified through facebook of your race results.</p>
        </div>
        <div class="col-md-3">
          <h2>Compare with Friends</h2>
          <center><img src="/images/250px-compare.png"></center>
          <p style="text-align: justify;">Easily check and compare your race results with your friends who participated in the same run. The more friends you have who have connected their facebook accounts to MyRunTime, the more people you can compare results with!</p>
        </div>
        <div class="col-md-3">
          <h2>Track Results</h2>
          <center><img src="/images/250px-track-progress.png"></center>
          <p style="text-align: justify;">Once your facebook account is linked, all your succeeding runs that use MyRunTime will be associated with your facebook account. Now you can track your race performance over time.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Successfully Registered!
  </div>
  <div class="content">
    <div class="left">
      <i class='check icon'></i>
    </div>
    <div class="right">
      We will be sending you an email soon to activate you account! Thanks!
    </div>
  </div>
  <div class="actions">    
    <div class="ui large button">
      Close
    </div>
  </div>
</div>