<div class="result-title">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div ng-hide="runner.Model.activated">
          <a href="#/connect">
            <img id="fb-image-runner-result" src="/images/not-connected-user.png">
          </a>
        </div>
        <div ng-show="runner.Model.activated">
          <a ng-href="#/profile/[[runner.Model.userId._id]]">
            <img id="fb-image-runner-result" ng-src="[[profilePic]]">
          </a>
        </div>
      </div>
      <div id="" class="col-xs-10">
        <div id="runnernamediv">
          <div ng-hide='hideName'>
          <h2 ng-show="runner.Model.activated" id="runnername"><a ng-href="#/profile/[[runner.Model.userId._id]]" title="Click to view runner profile">[[runner.Model.firstName | toProper]] [[runner.Model.lastName | toProper]]</a> Run Time</h2>
          <h2 ng-hide="runner.Model.activated" id="runnername"> [[runner.Model.firstName | toProper]] [[runner.Model.lastName | toProper]] Run Time</h2>
          </div>
          <div ng-show='hideName'>
            <h2 ng-hide="runner.Model.activated" id="runnername"> Run Time</h2>
          </div>
          <h3>
            <strong ng-hide='hideName' id="gendericon" style="padding-right:10px">
              <img ng-src="[[runner.Model.gender | genderToImage]]">
            </strong>
            <strong id="bibnumber" style="padding-right:10px" ng-hide="hideBib">[[runner.Model.bibnumber]]</strong>
            <strong id="race-and-wavename" style="padding-right:10px"><a ng-href="#/race/[[runner.Model.raceId.raceNick]]">[[runner.Model.raceId.raceName]] [[runner.Wave.waveName]]</a>
            </strong>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="orange-container" ng-hide="hideOfficialTime">
  <div class="container">
    <div class="row guntimecontainer">
      <div class="col-md-5">
        <div class="result-section">
          <h3 class="result-label">Official Time</h3>
          <h3 id="official-runner-time" class="result-value">[[runner.Model.gunTimeStr]]</h3>
        </div>
        <div class="result-section" ng-hide="hideRank">
          <h3 class="result-label">Official Rank</h3>
          <h3 id="official-runner-rank" class="result-value">[[Perf.officialRank]]/[[compet.length]]</h3>
        </div>
      </div>
      <div style="margin-top:5px" class="col-md-7" ng-hide="hideRank">
        <highchart id="gunTimeChart" config="gunChartConfig" style="height:180px; margin:10px 0px;"></highchart>
      </div>
    </div>
    <div class="row" ng-hide="hideRank">
      <div class="col-md-12">        
        <highchart id="gunTimePlot" config="gunTimePlotConfig"></highchart>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" ng-hide="race.raceId == 147">      
        <p class="caption"> <br> <b> Race Start </b> <br/>[[raceStart]] </p>
        <p class="caption"> <b> Runner Finish </b> <br/>[[runnerFinish]] </p>
      </div>
      <div class="col-md-2" ng-show="race.raceId == 147">      
        <p class="caption"> <br> <b> Race Start </b> <br/>[[raceStart | offset12Hours]]  </p>
        <p class="caption"> <b> Runner Finish </b> <br/>[[runnerFinish | offset12Hours]] </p>
      </div>
      <div class="col-md-8">
        <h3> What is Gun Time? </h3>
        <p> Gun time is the time from the race start signal until the runner crosses the finish line. This is used as the official time and is used to establish the award winners and order of finish for all runners. </p>
      </div>
    </div>
  </div>
</div>

<div class="white-container" ng-hide="hideChipTime">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="result-section">
          <h1 class="result-label">Chip Time</h1>
          <h1 id="official-runner-chip-time" class="result-value">[[runner.Model.chipTimeStr]]</h1>
        </div>
      </div>
      <div style="margin-top:5px" class="col-md-7" ng-hide="hideRank">
        <highchart id="chipTimeChart" config="chipChartConfig" style="height:180px; margin:10px 0px;"></highchart>
      </div>
    </div>
    <div class="row" ng-hide="hideRank">
      <div class="col-md-12">
        <highchart id="chipTimePlot" config="chipTimePlotConfig"></highchart>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" ng-hide="race.raceId == 147">
        <p class="caption"> <br> <b> Runner Start </b> <br/>[[runnerStart]] </p>
        <p class="caption"> <b> Runner Finish </b> <br/>[[runnerFinish]] </p>
      </div>
      <div class="col-md-2" ng-show="race.raceId == 147">
        <p class="caption"> <br> <b> Runner Start </b> <br/>[[runnerStart | offset12Hours]] </p>
        <p class="caption"> <b> Runner Finish </b> <br/>[[runnerFinish | offset12Hours]] </p>
      </div>
      <div class="col-md-8">
        <h3> What is Chip Time? </h3>
        <p> Chip time is measured from the time the participant crosses the starting line until reaching the finish line.  These times are provided for your information only and are not used to determine order of finish. The chip time is also the more accurate reflection of your race performance as it takes into consideration the delay between the start of the race and the time that you actually crossed the starting line. Because of this, personal records (PRs) are based on Chip Time. </p>
      </div>
    </div>  
  </div>
</div>

<div class="lightorange-container" ng-show="hasSplits">
  <div class="container">
    <div id="splits" class="result-section">
      <div class="row">
        <div class="col-md-12">
          <h2 class="result-label" style="background-color:#ff6b24">Sector Times</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <highchart id="pacePlot" config="pacePlotConfig"></highchart>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 offset2">
          <p>This is a plot of your race pace over the sectors of the race. Each bar shows average time it took for you to cover a km over that particular sector.</p>
        </div><br>
      </div>
      <div class="row">
        <div class="col-md-12">
          <highchart id="splitPie" config="splitsPieConfig"></highchart>   
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 offset2">
          <p>The figure represents your race performance. The inner chart shows the length of each sector as a component of the entire race distance. The outer chart shows how your race time is divided among all sectors. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="orange-container" ng-hide="hideFriends">
  <div class="container">
    <div class="result-section">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Friends</h1>
          <!--<h4 class="text-center">Here you will see your facebook friends who have activated their bibs for this race</h4>-->
          <div ng-hide="hasFriendsInRace">
            <h4 class="text-center">We can't seem to find any of your friends in this race </h4>
            <h4 class="text-center"> Make sure that you and your friends have joined MyRunTime at <a href="#login">myrunti.me/login</a> and activated their bibs at <a href="#connect">myrunti.me/#/connect </a></h4>
          </div>
          <div ng-show="hasFriendsInRace">
            <div ng-repeat="friend in friendsInRace">              
              <div class="col-md-4 friendResult">
                <div style='float:left; width:110px;'><img ng-src="http://graph.facebook.com/[[friend.faceBookId]]/picture?type=normal"></div>
                <div style='margin-left:110px;'>
                  <a ng-href="#runner/[[friend.raceId]]/[[friend.bibnumber]]" style="text-decoration:none;">
                    <span class="friend-name"> [[friend.firstName | toProper]]  [[friend.lastName | toProper]]</span>
                  </a>
                </div>
                <br/>
                <i class='glyphicon glyphicon-user'/>
                <strong> Bib Number </strong> : [[friend.bibnumber]]
                <br/>
                <i class='glyphicon glyphicon-time'/>
                <strong> Run Time </strong> : [[friend.gunTime | secondsToTimeString]]
                <br/>
                <div ng-show="(friend.waveId == runner.Model.waveId)">
                  <div ng-show="(friend.chipTime < runner.Model.chipTime)">
                    <span class='label label-danger'> [[friend.firstName | toProper ]] was faster than you </span>
                    <br/>  
                    <i class='icoc-meter-slow'/><strong> You were beat by:</strong> [[ (runner.Model.chipTime - friend.chipTime) | secondsToTimeString ]]
                    <br>
                  </div>
                  <div ng-hide="(friend.chipTime < runner.Model.chipTime)">
                    <span class='label label-success'> You were faster than [[friend.firstName | toProper ]] </span>
                    <br/>  
                    <i class='icoc-meter-fast'/><strong> You were faster by:</strong> [[ (friend.chipTime - runner.Model.chipTime) | secondsToTimeString ]]
                    <br>
                  </div>
                </div>
                <div ng-hide="(friend.waveId == runner.Model.waveId)">
                  <span class='label label-warning'> Friend was in a different category </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div id="friendList" style="background-color:#FFF;" class="container"></div>
        </div>
      </div>
      <div class="row">
        <div id="friends-help-text" class="col-md-8 offset2"></div>
      </div>
    </div>
  </div>
</div>
<myfooter></myfooter>

<div class="overlay" ng-hide="hideOverlay"></div>
<div class="overlay-message" ng-hide="hideOverlay" style="display: block; margin: 0 auto;">
  <h3 style="margin-left:20px; color:gray;"> Bib Not Found </h3>
  <hr/> 
  <div class="col-sm-6" style="padding-bottom: 20px">   
  <p style="margin-left:20px; margin-right:20px; color:gray;"> Sorry, but we could not find the bib number at the moment. Feel free to <a style="color:black;" href="#/contact"><strong>contact us</strong></a> or fill in the form on the right so that we could resolve the issue immediately.</p>
  <p class="hidden-xs" style="font-size: 30px; margin-left:20px; margin-right:20px; font-family: LeagueGothic-Regular, Arial, sans-serif;">Why can't I find my Bib Number? </p>
  <div class="hidden-xs" style="height: 200px; overflow-y:auto">
    <p style="margin-left:20px; margin-right:20px; color:gray;">1. You entered an incorrect/invalid bib number. <br />
2. You wore your bib and/or RFID shoe tag improperly, or you forgot to attach them completely. <br />
3. You did not cross the timing line when you started and/or when you finished. <br />
4. You did not start in your correct category/wave. <br />
5. You started very late (i.e. finishers were already crossing the timing line when you started). <br />
6. You were disqualified by the organizer (i.e. you participated on behalf of the person registered). <br />
7. Unforeseen accidents happened during the event (i.e. loss of power) which caused timing system interruptions. </p>
  </div>
  <br />
  <button style="margin-left:20px;" class="btn btn-primary" ng-click="closeOverlay()"> Close </button>  
  </div>
  <div class="col-sm-6" style="overflow-y:auto; height: 75%; background-color: #fff; padding-bottom: 20px">
   <form name="userForm" role="form" novalidate style="margin-left:20px; margin-right:20px;" ng-submit="submitForm();">
          <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label class="control-label">Name: <span style="color:#3e3e3e; font-size:10px"> (Required) </span></label>
            <div class="controls">
              <input type="text" ng-model="contactForm.name" class="form-control" name="name" required>
              <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block pull-right">Please provide your name</p>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label class="control-label">Email: <span style="color:#3e3e3e; font-size:10px"> (Required) </span></label>
            <div class="controls">
              <input type="email" ng-model="contactForm.email" class="form-control" name="email" required>
               <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block pull-right">Please provide a valid email</p>
            </div>
          </div>

          <div class="form-group">
            <label for="eventName" class="control-label">Event Name:</label>
            <div class="controls">
              <!-- <select ng-model="eventName" ng-options="race.raceName for race in races" class="form-control">
              </select> -->
              <input type="text" placeholder="Race Name" ng-model="contactForm.eventName" class="form-control" disabled>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : userForm.bibnumber.$invalid && !userForm.bibnumber.$pristine }">
            <label class="control-label">Bib Number: <span style="color:#3e3e3e; font-size:10px"> (Required) </span></label>
            <div class="controls">
              <input type="text" placeholder="Bib Number/s" ng-model="contactForm.bib" class="form-control" name="bibnumber" required>
              <p ng-show="userForm.bibnumber.$invalid && !userForm.bibnumber.$pristine" class="help-block pull-right">Please provide your Bib Number</p>
            </div>
          </div>

          <div class="form-group" >
            <label class="control-label">Estimate Finish Time:</label>
            <div class="controls">
              <input type="text" placeholder="Fill in detail if possible" ng-model="contactForm.estimateFinish" class="form-control">
            </div>
          </div>

          <div class="form-group" >
            <label class="control-label">Running buddies you finished with:</label>
            <div class="controls">
              <input type="text" placeholder="Bib numbers of buddies you finished with" ng-model="contactForm.runningBuddies" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Feedback:</label>
            <div class="controls">
              <textarea type="textarea" rows="5" ng-model="contactForm.feedback" style="resize:none;" class="form-control"></textarea>
            </div>
          </div>

          <input type="submit" class="btn btn-primary pull-right" ng-show="!disableSubmit" value="Submit" ng-disabled="(disableSubmit == true) || userForm.$invalid"/> <i class="fa fa-spinner fa-2x fa-spin pull-right" ng-show="disableSubmit" style="margin-top:2px"></i>

        </form>
  </div>
  <hr/>
</div>

<div id='result-fbshare-button' class="ui massive facebook icon button" ng-disable="!facebookReady" ng-click="shareFB(runner.Model)">
  <i class="facebook icon"></i>
</div>

<a href="https://twitter.com/share?via=MyRunTime&url=http://myrunti.me/runners/[[runner.Model.raceId._id]]/[[runner.Model.bibnumber]]&text=I%20finished%20[[runner.Model.raceId.raceName]]!%20Check%20out%20my%20results%20here." id="tweet-link">
  <div id='floatinglikebutton' class="ui massive icon button" ng-click="openSegment()">
    <i class="twitter icon", style="color:white;"></i>
  </div>
</a>

<link rel='stylesheet' href='/css/runner-result.css' type='text/css'>
