<div>
  <div class="orange-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="racename-header">
            <span>
              <a ng-href="#/race/[[race.raceNick]]">[[race.raceName]] </a>
            </span>
            <span class="label label-success noprint" ng-show="race.published">Finished</span>
            <span class="label label-primary noprint" ng-hide="race.published">Upcoming</span>
          </h1>          
          
          <h3 class="racedate-header">
            [[race.raceDate]]
          </h3>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <img class="img racephoto img-polariod thumbnail img-responsive noprint" ng-src="/images/[[race.racePhoto]]">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>  
  <div class="white-container" ng-show="race.raceId == 105">
    <div class='row'>
      <div class="col-md-12 text-center">
        <h1>[[race.raceName]] - [[wave.waveName]] Results</h1>
        <h3> Click <a href="race/Race2Lead"> >here< </a> to search for your bib number </h3>
      </div>
    </div>
  </div>

  <div class="white-container" ng-show="race.raceId == 134">
    <div class='row'>
      <div class="col-md-12 text-center">
        <h1>[[race.raceName]] - [[wave.waveName]] Results</h1>
        <h3> Click <a href="race/EnduranceWeekend2014MTB"> >here< </a> to search for your bib number </h3>
      </div>
    </div>
  </div>

  <div class="white-container" ng-show="race.raceId == 135">
    <div class='row'>
      <div class="col-md-12 text-center">
        <h1>[[race.raceName]] - [[wave.waveName]] Results</h1>
        <h3> Click <a href="race/EnduranceWeekend2014RUN"> >here< </a> to search for your bib number </h3>
      </div>
    </div>
  </div>

  <!--
  Hide Rank, sort by bib
  -->

  <div class="white-container" ng-hide="race.raceId == 105 || race.raceId == 134 || race.raceId == 135">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>[[race.raceName]] - [[wave.waveName]] Results</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        
        <table class="table table-condensed table-hover table-striped" ng-show="hideRank">
          <thead >            
            <th ng-hide="hideBib">Bib Number</th>
            <th style="padding-left:70px">Name</th>
            <th>Gender</th>
            <th ng-hide="hideOfficialTime">OFFICIAL TIME</th>
            <th>CHIP TIME</th>
            <th class='noprint'></th>
          </thead>
          <tbody>
            <tr ng-repeat="runner in runners | orderBy:sortByBib">
              <td ng-hide="hideBib"><a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.bibnumber]]</a></td>

              <td style="text-align:left; padding-left:50px; border-spacing:0;">
                <div ng-hide='hideName'>
                  <i class="user icon blueusericon noprint", title="Runner is registered to MyRunTime through Facebook" ng-show='runner.Model.activated'></i>
                  <i class="user icon hiddenicon noprint" style="opacity:0;" ng-hide='runner.Model.activated'></i>
                  <a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.firstName | toProper]] [[runner.Model.lastName | toProper]]
                  </a>
                </div>
              </td>
              <td>
                <div ng-hide='hideName'>
                  <a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.gender]]</a>
                </div>
              </td>
              <td ng-hide="hideOfficialTime"><a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.gunTime | secondsToTimeString]]</a></td>
              <td><a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.chipTime | secondsToTimeString]]</a></td>
              <td><a class="btn btn-primary noprint" ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>View result</a></td>
            </tr>
          </tbody>
        </table>

        <table class="table table-condensed table-hover table-striped" ng-hide="hideRank">
          <thead >
            <th>Rank</th>
            <th>Bib Number</th>
            <th style="padding-left:70px">Name</th>
            <th>Gender</th>
            <th ng-hide="hideOfficialTime">OFFICIAL TIME</th>
            <th>CHIP TIME</th>
            <th class='noprint'></th>
          </thead>
          <tbody>
            <tr ng-repeat="runner in runners">              
              <td>[[$index + 1]]</td>
              <td><a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.bibnumber]]</a></td>
              <td style="text-align:left; padding-left:50px; border-spacing:0;">
                <div ng-hide='hideName'>
                  <i class="user icon blueusericon noprint", title="Runner is registered to MyRunTime through Facebook" ng-show='runner.Model.activated'></i>
                  <i class="user icon hiddenicon noprint" style="opacity:0;" ng-hide='runner.Model.activated'></i>
                  <a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.firstName | toProper]] [[runner.Model.lastName | toProper]]
                  </a>
                </div>
              </td>
              <td>
                <div ng-hide='hideName'>
                  <a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.gender]]</a>
                </div>
              </td>
              <td ng-hide="hideOfficialTime"><a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.gunTime | secondsToTimeString]]</a></td>
              <td><a ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>[[runner.Model.chipTime | secondsToTimeString]]</a></td>
              <td><a class="btn btn-primary noprint" ng-href='#runner/[[race.raceId]]/[[runner.Model.bibnumber]]'>View result</a></td>
            </tr>
          </tbody>
        </table>


        <br>
        <button class="btn btn-primary btn-lg noprint" ng-hide="hideRank" ng-disabled="shownAll" ng-click="loadMore()">
          Load More Results
        </button>        

        <button class="btn btn-primary btn-lg noprint" ng-show="User.isAdmin" ng-disabled="shownAll" ng-click="loadAll()">
          Load All Results
        </button>

      </div>
    </div>
  </div>
</div>

<footer id="printfooter" class="clearfix">
  <div class="container centered"> 
    <div class="row"> <br><br>
      <div style="text-align:center;" class="col-md-12 col-sm-12 footer-entry">
        <p> <a href="http://www.myrunti.me/" target="_blank">MyRunTime </a>- Social Powered Race Timing</p>
        <p>Copyright 2011-2013. Strider.  </p>
        <p>Powered by <a href="http://www.itemhound.com/" target="_blank"> Itemhound Sports</a>  and <a href="http://www.goorahna.me/" target="_blank"> Goorahna</a></p>
      </div>
    </div>
  </div>
</footer>

<myfooter></myfooter>
